@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* General reset */
body {
    margin: 0;
    font-family: "Poppins";
    background-color: #ac7aee39;
}

/* Center the form */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Form styles */
.form-container {
    background: white;
    padding: 30px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    height: 440px;
    border-radius: 0 14px 14px 0;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}


input {
    width: 79%;
    padding: 12px 30px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #aaaaaa;
    font-size: 16px;
    transition: all 0.5s ease;
    outline: none;
}

form button {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 70%;
    padding: 10px;
    background-color: #7d2ae8;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #49148e;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.box i {
    position:absolute;
    transform: translateY(23%);
    font-size: 20px;
}

.box i.email,
.box i.password, 
.box i.uil.uil-user{
    left: 23px;
    color: #707070;
}

.box i.pw_hide {
    right: 40px;
    font-size: 18px;
    color: #707070;
    cursor: pointer;
}

input:focus {
    border-bottom-color: #7d2ae8;
}

input:focus~i.email,
input:focus~i.password,
input:focus~i.uil.uil-user {
    color: #7d2ae8;
}

input::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0);
}

input:focus::after {
    transform: scaleX(1);
}

.logIn{
    display: flex;
    max-width: 1200px;
    margin: 120px 70px 50px 160px;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url(src/img/360_F_221766665_GMi1hSvMyx3RG1PFLdYLWFBNAQ6At0A0.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    font-size: large;
    border-radius: 14px 0 0 14px;
}
#welcome{
    color: white;
}
#signUp{
    background-image: url(src/img/1\ \(1\).webp);
}
#SignUp{
    display: none;
}