@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --link-color: #ccc;
    --text-color: white;
    --body-color: #27274F;
}

body.bluemode {
    --link-color: #555;
    --text-color: #000;
    --body-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--body-color);
    color: #fff;
}

.section-one {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

.specialty-name {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.introduction {
    font-size: 1.2rem;
    width: 80%;
    max-width: 900px;
    line-height: 1.6;
    font-weight: 300;
    margin-top: 10px;
}

.section-two {
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.modules-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.module {
    background-color: var(--text-color);
    color: var(--body-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.module p {
    font-size: 1.2rem;
    font-weight: 500;
    width: max-content;
    position: relative;
}


.module p::after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: #27274F;
    transition: 0.3s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0);
}

.module p:hover::after {
    transform: scaleX(1);
}


.section-three {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: var(--body-color);
}

.certificates-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.certificate {
    background-color: var(--text-color);
    color: var(--body-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.certificate-image {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
}

.certificate-image:hover {
    transform: scale(1.05); 
}

.certificate-details {
    padding-left: 10px;
    text-align: left;
}

.certificate h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.certificate p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
}