@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

:root {
  --link-color: #ccc;
  --text-color: white;
  --body-color: #27274F;
}

body.bluemode {
  --link-color: #555;
  --text-color: #000;
  --body-color: #fff;
}

body {
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-family: sans-serif;
  background-color: var(--body-color);
}

.welcome {
  color: white;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.501)),
    url(welcome.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: white;
  cursor: pointer;
  list-style: none;
}

.logo,
.images_of_trusted {
  height: 100%;
  margin-left: 20px;
  user-select: none;
}

.apply {
  background-color: #30d5c8;
  color: white;
  border-radius: 19px;
  border: 1px solid #30d5c8;
  cursor: pointer;
  line-height: 20px;
  margin-right: 70px;
  padding: 5px 10px;
  font-weight: 1000;
  font-size: large;
  transition: all 0.3s ease;
}

.list li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s;
  transition-timing-function: easy-in-out;
  transform: scaleX(0);
}

.list li:not(.specialities li, #spn):hover::after {
  transform: scaleX(1);
}

li {
  width: max-content;
  position: relative;
  font-weight: 799;
  font-size: large;
}

.apply:hover {
  background-color: gray;
  border: 1px solid gray;
}

.ecriture {
  width: 80%;
  height: 30%;
  text-align: center;
  font-size: x-large;
  user-select: none;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.h1_of_ecriture {
  margin-top: 80px;
  font-size: 1.8rem;
}

.degrees,
.programs,
.trusted,
.reasherch {
  width: 100%;
  margin-top: 50px;
  user-select: none;
}

.h1_of_degrees,
.h1_of_programs,
.h1_of_reasherch,
.h1_of_trusted {
  text-align: center;
  text-decoration-line: underline;
  font-weight: 800;
}

.paragraph_of_degrees,
.paragraph_of_programs {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  width: 100%;
  font-size: large;
  font-weight: 600;
}

p {
  padding: 50px;
}

.paragraph_of_reasherch {
  text-align: center;
  width: 100%;
  font-size: large;
  font-weight: 600;
}

.images {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.h1_of_trusted {
  margin-bottom: 50px;
}

/* Testimunials */
#testimonials {
  text-align: center;
  padding: 50px 0;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  justify-content: center;
  margin-top: 25px;
}

.testimonial-item {
  border-radius: 10px;
  padding: 20px;
}

.testimonial-image {
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 15px;
}

.testimonial-text {
  padding: 0;
  font-size: 1rem;
  color: var(--link-color);
  margin-bottom: 15px;
}

.testimonial-author {
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.1rem;
  text-wrap: nowrap;
  padding: 0;
}

@media (max-width: 768px) {
  .testimonial-grid {
    grid-template-columns: 1fr;
    /* un fl telephone */
  }
}

/* "Join us now" Part */
.programs-container {
  width: 80%;
  margin: auto;
  max-width: 850px;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.programs-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.programs-container button {
  margin: 0;
}

.programs-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.programs-table th:first-child,
.programs-table td:first-child {
  text-align: left;
}

.programs-table th,
.programs-table td {
  padding: 8px;
  font-weight: 1000;
  color: var(--link-color);
}

/* good design concept saving it here
.programs-table th {
  background-color: #f7f7f7;
}
*/

/*Footer code*/
footer {
  padding: 30px 0;
  max-width: min(1200px, 90%);
  margin: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.footer-column {
  padding: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s ease;
}

.about_us li {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.home li {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.footer-column a:hover {
  color: var(--text-color);
}

.home li:hover {
  color: var(--text-color);
}

.about_us li:hover {
  color: var(--text-color);
}

.big-link {
  user-select: none;
}

a.big-link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  color: var(--text-color);
}

.social-media {
  margin-top: 20px;
}

.social-icon i {
  display: inline-block;
  padding: 8px;
  background-color: #333;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon i {
  color: white;
}

.social-icon:hover i {
  color: black;
  background-color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9em;
  color: #ccc;
}

.social-media a {
  cursor: pointer;
}

.specialities {
  list-style: none;
  padding: 0.5rem 0;
  position: absolute;
  background: gray;
  left: -96px;
  border-radius: 9px;
  padding-top: 10px;
  display: none;
}

.specialities li {
  border-bottom: 2px solid black;
  margin-bottom: 8px;
  display: block;
}

.specialities li:hover {
  background-color: #b1b2b8;
}

#M {
  margin-left: 77px;
}

#MA {
  margin-left: 30px;
}

#MF {
  margin-left: 18px;
}

#AN {
  margin-left: 37px;
}

#spn:hover .specialities {
  display: block;
}

.specialities:not(.specialities li) {
  opacity: 1.5;
}